html, body, h1 ,h2, h3, div, p , ul, li, footer, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    
}

li {
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/*START*/

body {
    background-color:  #fbe06d;
    font-family: 'Inter', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #85bcc1;
    border-radius: 50%;
}

.dot_white_color{
    background-color: white;
    border: 1px solid #85bcc1;
}

.header{
    border-bottom: 1px solid gray;
    background-color: #85bcc1;
}

.main {
    min-height: 100%;
    flex-grow: 1;
    
}

.menu__list{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.menu__link{
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.block-title{
    background-color: #85bcc1;
    padding: 5px 70px 5px 15px;
    color: white;
    display: inline-block;
    border-radius:0 20px 20px 0;
    
}
.main__info{
    margin-top: 20px;
}
.info{
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    background-image:url(../images/content/bg.png);  
    border-radius: 10px;
}

.info__img{
    grid-row: 1/3;
    border-radius: 30px;
}


.info__name{
    font-size: 36px;
    color: #85bcc1;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.info__prof{
    text-transform: uppercase;
    color: white;
    padding: 10px;
    display: inline-block;
    background-color: #85bcc1;
    border-radius: 20px;
}



.info__about-me span {
    color: #85bcc1;
    font-size: 24px;
    font-weight: 700;
}

.education__title, .exp__title, .languages__title, .skills__title, .contacts__title {
    margin-bottom: 20px;
}



.education__text h3{
    margin-bottom: 2px;
    color: #85bcc1;

}
.languages__box{
    display: flex;
    padding: 5px;
    gap: 0 20px;
}
.languages__subtitle{
    width: 70px;
}
.languages__dot-box{
    display: flex;
    gap: 0 5px;
    position: relative;
    top: 3px;
}

.skills__box{
    display: flex;
    padding: 5px;
    gap: 0 20px;
    
}
.skills__subtitle{
    width: 70px;
}
.skills__dot-box{
    
    display: flex;
    gap: 0 5px;
    position: relative;
    top: 3px;
}
.info__contacts{
    align-self: self-end;
}

.contacts{
    grid-column: 1/3;
    
}

.contacts__data{ 
    display: flex;
    justify-content: space-between;
    
}

.footer {
    
    background-color:#85bcc1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: white;
    font-weight: 700;
}

.footer a {
    display: inline-block;

}


